<div class="row">
  <div class="col-md-4" style="margin-top: 2%;">
    <img width="200" height="200" src="{{details.Poster}}" alt="No Image">
  </div>
  <div class="col-md-8">
    <h2>{{details.Title}}</h2>
    <small>{{details.Plot}}</small>
  </div>
  <p>Actors: {{details.Actors}}</p>
  <div class="col-md-6">
    <span class="label label-primary">{{details.imdbRating}} /10 imdbRating</span>
    <span class="label label-success">{{details.Year}} year</span>
    <span class="label label-info">{{details.Language}} Language</span>
    <span class="label label-warning">{{details.imdbVotes}} Votes</span>
  </div>
</div>