<div class="row">
  <div class="col-md-offset-2 col-md-6 col-xs-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <form name="circular" [formGroup]="movieForm" (ngSubmit)="searchMovie()" novalidate>
          <div class="row">
            <div class="col-md-12">
              <div class="input-group">
                <input type="text" formControlName="movieName" class="form-control">
                <div class="input-group-btn">
                  <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-primary">
                      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="movie_details" class="row">
  <div class="col-md-4" style="margin-top: 2%;">
    <img width="200" height="200" src="{{movie_details.Poster}}">
  </div>
</div>